---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 2;
---
<section id="cover">
	
	<h3>Parents in Tech</h3>
	<hr />
	<h2 id="title">
		<span class="thin">Daughter </span>
		<span class="mid">Driven </span>
		<span class="thick">Development</span>
	</h2>
	<hr />
	<h4 id="author">by Marcin Skirzynskircin && Ola Gasidlo-Brändel</h4>
</section>